/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --depor-blue: #004b93; /* El azul oficial aproximado */
  --depor-blue-hover: #003a72;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #f8f9fa; /* Un blanco roto muy limpio */
  color: #333;
}